.ab-modal {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.ab-modal .modalContent {
  position: relative;
  background-color: #f3f9fd;
  margin: 10rem auto;
  max-width: 300px;
  padding: 1.4rem;
  box-shadow: 2px 2px 3px #888888, -2px -2px 3px #888888;
}

.ab-modal p {
  font-weight: bold;
  font-size: 1rem;
}
.ab-modal .closeBtn {
  color: rgba(65, 45, 45, 0.945);
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  font-weight: bolder;
  font-size: 1.4rem;
}

.ab-modal .closeBtn:hover {
  cursor: pointer;
  color: black;
}
