@import url(http://fonts.googleapis.com/css?family=Noto+Sans&display=swap);

:root {
  --baseColor: #ff3e9f;
  --accentColorII: #ff7166;
  --accentColorIII: rgb(88, 212, 92);
  --accentColorIV: #f9ff66;
  --darkGray: #094752;
  --lightGray: #f0f8f8;
  --white: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.ab-row {
  display: flex;
  display: -webkit-flex;
}

.ab-justify-content-sb {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.ab-justify-content-sa {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.ab-justify-content-c {
  justify-content: center;
  -webkit-justify-content: center;
}

.ab-align-self {
  align-self: center;
  -webkit-align-self: center;
}

.ab-align-items {
  align-items: center;
  -webkit-align-items: center;
}
.ab-align-content {
  align-content: center;
  -webkit-align-content: center;
}

.ab-flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.ab-flex-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.ab-flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.ab-text-center {
  text-align: center;
}

.ab-cursor-pointer {
  cursor: pointer;
}

.ab-hide {
  display: none;
}

h1.text-design {
  font-weight: bolder;
}

/*widths*/
.ab-col-1 {
  width: 8.33%;
}
.ab-col-2 {
  width: 16.66%;
}
.ab-col-3 {
  width: 25%;
}
.ab-col-4 {
  width: 33.33%;
}
.ab-col-5 {
  width: 41.66%;
}
.ab-col-6 {
  width: 50%;
}
.ab-col-7 {
  width: 58.33%;
}
.ab-col-8 {
  width: 66.66%;
}
.ab-col-9 {
  width: 75%;
}
.ab-col-10 {
  width: 83.33%;
}
.ab-col-11 {
  width: 91.66%;
}
.ab-col-12 {
  width: 100%;
}

/*margins*/
.ab-mg-auto {
  margin: auto;
}

.ab-mg-topI {
  margin-top: 1rem;
}

.ab-mg-topII {
  margin-top: 3rem;
}

.ab-mg-topIII {
  margin-top: 5rem;
}
.ab-mg-bottomI {
  margin-bottom: 0.5rem;
}

.ab-mg-leftI {
  margin-left: 0.3rem;
}

.ab-row-text {
  margin-left: 5px;
}

/*navbar*/
nav {
  color: var(--white);
  background-color: var(--baseColor);
  padding: 0 2rem 0 2rem;
}

.ab-toggle-icon {
  border: 2px solid white;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 2px white, -1px -1px 2px white;
}

.ab-toggle-icon:hover {
  background-color: #f5278e;
}

/*sideNav*/
.ab-menu {
  position: fixed;
  right: 0;
  background: var(--lightGray);
  height: 100vh;
  width: 250px;
  padding: 1.4rem;
  transition: 1s;
  z-index: 1;
}
.ab-menu li {
  margin: 5px;
  color: black;
}
.ab-menu a {
  font-weight: bold;
  display: inline-block;
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;
  transition: 0.3s;
}

.ab-menu a:hover {
  color: #09ccee;
}
li.ab-close-btn {
  font-size: 1.3rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 5px;
  border: none;
}

li.ab-close-btn:hover {
  color: grey;
}

/*forms*/
.ab-card {
  background-color: var(--lightGray);
  width: 500px;
  max-width: 400px;
  padding: 0 2rem 1rem 2rem;
  transition: 0.5s;
}

.ab-card-heading {
  color: black;
  padding: 1rem;
}

.ab-input-fields {
  display: block;
  background: transparent;
  color: var(--darkGray);
  border: 2px solid var(--darkGray);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}

.ab-input-fields::placeholder {
  color: black;
}

.ab-card a {
  color: black !important;
  font-weight: bold;
}
.ab-card p,
.ab-card a {
  font-size: 0.8rem;
}
.ab-text-area {
  resize: none;
  width: 100%;
  height: 10rem;
}

.ab-report-card {
  width: 300px;
}
/*buttons*/
.ab-button-primary {
  background-color: var(--darkGray);
  color: white;
  padding: 0.5rem;
  width: 70px;
  outline: none;
}
.ab-button-secondary {
  display: block;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.9rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  background-color: var(--baseColor);
}
.ab-button-secondary:hover {
  background-color: #f5278e;
}

.ab-button-info {
  color: white;
  background-color: var(--accentColorIII);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.ab-button-info:hover {
  background-color: rgb(63, 189, 68);
}

.ab-button-danger {
  display: block;
  background: var(--accentColorII);
  outline: none;
  border: none;
  padding: 0.5rem;
  color: white;
  border-radius: 5px;
}

.ab-button-danger:hover {
  background: #f85145;
}

.ab-button-default {
  background: transparent;
  outline: none;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 5px;
}

/*section*/
.ab-section {
  padding: 1rem;
  height: 30vh;
  color: white;
}
.ab-section-item {
  height: 30vh;
  line-height: 2rem;
  background-color: rgba(223, 72, 190, 0.3);
  width: 100%;
  position: absolute;
}
.ab-bg-color {
  background-color: rgba(223, 72, 190, 0.267);
}
.ab-bg-img {
  background-image: url("../imgs/home4.jpg");
  background-position: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ab-section-item h1 {
  font-size: 1.5rem;
}
.ab-sectionI {
  height: 7vh;
}

.ab-select {
  border: 3px solid var(--darkGray);
}

/*images*/
.ab-img {
  max-width: 100%;
  height: auto;
}

/*property*/
.ab-row-child {
  width: 25%;
}
.ab-card-major {
  background-color: white;
  margin: 10px;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgb(197, 197, 197), -3px -3px 5px rgb(197, 197, 197);
}
.ab-property-details {
  background-color: rgb(240, 229, 229);
}
.ab-property-details-heading {
  background-color: var(--darkGray);
  color: white;

  padding: 0.3rem;
}

.ab-property-details-body {
  padding: 0rem 1rem 1rem 1rem;
}
/*about*/
.ab-about {
  background-color: var(--lightGray);
  padding: 1.7rem;
  line-height: 1.8rem;
}

/*footer*/
.ab-footer {
  margin-top: 3rem;
  background-color: var(--darkGray);
  width: 100vw;
  padding: 0.6rem;
  color: white;
  letter-spacing: 0.09rem;
}

/*small screens */
@media only screen and (max-width: 768px) {
  .ab-row-child {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .ab-row-child {
    width: 65%;
  }
  .ab-section {
    height: 35vh;
  }
  .ab-section-item {
    height: 35vh;
  }
}

@media only screen and (max-width: 350px) {
  .ab-section-item h1 {
    font-size: 1rem;
  }
  .ab-section {
    height: 45vh;
  }
  .ab-section-item {
    height: 45vh;
  }
}
